@tailwind base;
@tailwind components;
@font-face {
	font-family: montserrat;
	src: url(/static/fonts/Montserrat-Medium.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/* @font-face {
  font-family: sharp;
  src: url(/fonts/Sharp-Grotesk-Medium-20-Regular.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: sharp;
  src: url(/fonts/SharpGrotesk-Medium25.otf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: sharp;
  src: url(/fonts/Sharp-Grotesk-SmBold-20-Regular.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */
@tailwind utilities;

body {
	overscroll-behavior: contain;
}

@supports (backdrop-filter: blur(16px)) {
	.uiglass {
		/* From https://css.glass */
		background: rgba(255, 255, 255, 0.45);
		border-radius: 16px;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border: 1px solid rgba(229, 231, 235, 1)
	}
}

@supports not (backdrop-filter: blur(16px)) {
	.uiglass {
		background: rgba(255, 255, 255);
		border-radius: 16px;
		/* backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px); */
		border: 1px solid rgba(229, 231, 235, 1)
	}
}
